.explore-container {
  padding: 2rem 0 2rem 2rem;
}

.explore-filters-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.explore-filters {
  width: 60%;
}

.explore-search-container {
  display: flex;
  align-items: center;
  z-index: 3;
  width: 100%;
  border-radius: 24px;
  border: 1px solid #7a000a;
  background-color: #fff;
  padding: 0.5rem 1rem;
  min-height: 30px;
  box-shadow: none;
  gap: 0 13px;
  transition: all 0.2s ease-in-out;
}

.explore-search-container:hover {
  background-color: #eb5454;
  border-color: transparent;
  box-shadow: 0 1px 6px 0 #171717;
}

.explore-search-container i {
  color: #7a000a;
  font-weight: 900;
  transition: all 0.2s ease-in-out;
}

.explore-search-container:hover i {
  color: #fff;
}

.explore-search {
  background-color: transparent;
  border: none;
  overflow-x: hidden;
  width: 100%;
  outline: none;
  color: #7a000a;
  font-size: 18px;
  transition: all 0.2s ease-in-out;
}

.explore-search-container:hover .explore-search {
  color: #fff;
}
