.explore-container {
  margin-top: 1rem;
  padding: 2rem 0 2rem 2rem;
}

.explore-filters-container {
  display: flex;
  justify-content: center;
}

.explore-filters {
  width: 70%;
  height: 100%;
}

.explore-search-container {
  display: flex;
  align-items: stretch;
  border-radius: 24px;
  z-index: 3;
  width: 80%;
  min-height: 45px;
  box-shadow: none;
  transition: all 0.2s ease-in-out;
}

.explore-search-container:hover {
  box-shadow: 0 1px 6px 0 #171717;
}

.explore-search button {
  cursor: pointer;
  outline: none;
  border: none;
  background: none;
  font-size: 1rem;
  font-weight: 900;
  transition: all 0.2s ease-in-out;
  color: #7a000a;
}

.explore-search button.hide {
  display: none;
}

.explore-search {
  border-top-left-radius: 24px;
  background-color: #fff;
  border-bottom-left-radius: 24px;
  padding: 0.5rem 0.5rem;
  display: flex;
  width: 100%;
}

.explore-search-input {
  width: 100%;
  background-color: transparent;
  border: none;
  overflow-x: hidden;
  padding: 0 1rem;
  outline: none;
  color: #7a000a;
  font-size: 18px;
  transition: all 0.2s ease-in-out;
}

.explore-search-button-container {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1.5rem;
  background-color: #990808;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
  color: #fff;
  font-size: 1rem;
  font-weight: 900;
  outline: none;
  border: none;
}

.explore-types-container {
  color: #fff;
}

.explore-types-title {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  color: var(--primary-color);
}

.explore-types {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding-left: 1rem;
}

.explore-type {
  cursor: pointer;
  display: flex;
  gap: 5px;
  font-weight: 700;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 3rem;
  outline: none;
  border: none;
  color: #fff;
  transition: all 0.2s ease-in-out;
  background-color: var(--analogous-color-1);
}

.explore-type.hide span {
  color: #fff;
}

.explore-type:hover {
  background-color: #de4ecf;
}

.explore-type.hide {
  background-color: #87267f;
}

.explore-type.hide:hover  {
  background-color: #bd20b0;
}

.explore-type.hide span {
  color: #f2f2f2;
}

.explore-type.hide i {
  display: none;
}

.explore-types.genres {
  margin-top: 1rem;
}

.explore-genre {
  cursor: pointer;
  display: flex;
  gap: 5px;
  font-weight: 700;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 3rem;
  outline: none;
  border: none;
  transition: all 0.2s ease-in-out;
  background-color: var(--analogous-color-2);
}

.explore-genre span {
  color: #f6f6f6;
}

.explore-genre:hover {
  background-color: #c43108;
}

.explore-genre.hide {
  background-color: #942101;
}

.explore-genre.hide span {
  color: #fafafa;
}

.explore-genre.hide:hover {
  background-color: #b82800;
}

@media (prefers-color-scheme: dark) {
  .explore-search-container:hover {
    box-shadow: 0 1px 6px 0 #000;
  }

  .explore-types-title {
    color: #f2f2f2;
  }

  .explore-genre {
    background-color: var(--complementary-color);
  }

  .explore-genre:hover {
    background-color: #02c49a;
  }

  .explore-genre.hide {
    background-color: #01694b;
  }

  .explore-genre.hide:hover {
    background-color: #0a916a;
  }

  .explore-genre span {
    color: #1c1c1c;
  }

  .explore-genre.hide span {
    color: #111;
  }
}

@media(max-width: 1000px) {
  .explore-filters {
    width: 90%;
    padding: 0 0.5rem;
  }
}

@media(max-width: 600px) {
  .explore-container {
    padding: 2rem 0 1rem 1rem;
  }

  .explore-types {
    padding-left: 0.5rem;
  }
}

@media(max-width: 400px) {
  .explore-type, .explore-genre {
    font-size: 15px;
    padding: 0.4rem 0.65rem;
  }
}
