<section *ngIf="showEpisodes && episodes" class="series-season-episodes-container">
  <ul class="series-season-episodes-list-container">
    <li *ngFor="let episode of episodes" style="width: 100%;" class="reveal">
      <article style="width: 100%;">
        <a class="series-season-episodes-item" [routerLink]="['/series', episode.show_id, 'season', episode.season_number, 'episode', episode.episode_number]">
          <img src="{{ getImageSrc(episode.still_path) }}" class="series-season-episodes-item-poster" alt="{{ getEpisodeTitle(episode) + ' poster'}}"/>
          <div>
            <h2 class="series-season-episodes-item-title">{{ getEpisodeTitle(episode) }}</h2>
            <header class="series-season-episodes-item-subtitle">
              <h3>{{ episode.air_date | date:'longDate' }}</h3>
              <h3 *ngIf="episode.runtime">{{ getEpisodeLength(episode.runtime) }}</h3>
            </header>
            <p class="series-season-episodes-item-description">{{ episode.overview }}</p>
          </div>
        </a>
      </article>
    </li>
  </ul>
</section>
