.movies-carrusel-item {
  position: relative;
  cursor: pointer;
  box-shadow: 2px 7px 15px -2px #000000;
  border-radius: 1rem;
  min-width: 250px;
  max-width: 325px;
  width: 300px;
  height: 175px;
  overflow: visible;
  scroll-snap-align: center;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
}

.movies-carrusel-item-link {
  display: block;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 1rem;
  overflow: visible;
  transition: all 0.3s ease-in-out;
}

.movies-carrusel-item-container {
  position: absolute;
  bottom: 0;
  opacity: 0;
  background-color: #fc65fc;
  border-radius: 0 0 1rem 1rem;
  z-index: 1;
  transform: translateY(25px);
  transition: all 0.3s ease-in-out;
}

.movies-carrusel-item:hover .movies-carrusel-item-container {
  opacity: 1;
}

.movies-carrusel-item:hover {
  transform: scale(1.05);
}

.movies-carrusel-item-title {
  margin: 0;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.movies-carrusel-item-card {
  opacity: 1;
  color: #001111;
  padding: 5px 10px 10px;
  border-radius: 0 0 1rem 1rem;
}

.movies-carrusel-item-card p {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-bottom: 0;
}

.movies-carrusel-item-card h2 {
  margin: 0;
}

.movies-carrusel-item-card-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  gap: 0.25rem 0.5rem;
}

.movies-carrusel-item-card-info h4 {
  margin: 0;
  font-weight: 600;
}

.card-info-votes {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 0.3rem;
  border-radius: 0.25rem;
  background-color: var(--primary-color);
  padding: 0.25rem;
  color: #fbe4f3;
}

.card-info-votes span {
  font-weight: 700;
}

.movies-carrusel-item-card-a {
  display: flex;
  width: 100%;
}

@media(max-width: 1000px) {
  .movies-carrusel-item {
    min-width: 250px;
    max-width: 325px;
    width: 250px;
    height: 150px;
  }

  .card-info-votes {
    padding: 0.12rem;
  }

  .movies-carrusel-item-card p {
    font-size: 15px;
  }
}

@media(max-width: 600px) {
  .movies-carrusel-item {
    min-width: 200px;
    max-width: 250px;
    width: 200px;
    height: 125px;
  }

  .movies-carrusel-item:hover {
    transform: scale(1);
  }

  .movies-carrusel-item-container {
    opacity: 1;
    background-color: rgba(252, 101, 252, 1);
    padding: 6px;
    width: calc(100% - 12px);
  }

  .movies-carrusel-item-card-info {
    gap: 0.25rem;
  }

  .movies-carrusel-item-card {
    opacity: 1;
    color: #001111;
    padding: 0;
  }

  .movies-carrusel-item-title {
    font-size: 16px;
  }

  .movies-carrusel-item-card-info, .movies-carrusel-item-card-info h3 {
    font-size: 14px;
  }

  .movies-carrusel-item-card p {
    display: none;
  }
}
