<section *ngIf="item">
  <article class="featured-series-container" [style.background-image]="getImageSrc()">
    <div class="featured-series">
      <div class="featured-series-info">
        <h1><a [routerLink]="['/series', item.id]">{{ item.name }}</a></h1>
        <div class="featured-series-card">
          <header class="featured-series-card-info">
            <h2>{{ item.last_air_date | date:'mediumDate' }}</h2>
            <h2 class="featured-series-length">{{ getSeasonsCount() }}</h2>
          </header>
          <div class="card-info">
            <div class="card-info-votes" *ngIf="item.vote_average > 0">
              <i class="ti ti-heart"></i>
              <span>{{ item.vote_average | number:'1.1-1' }}</span>
            </div>
            <div class="card-info-genre" *ngFor="let genre of item.genres">
              <span>{{ genre.name }}</span>
            </div>
          </div>
        </div>
        <p class="featured-series-description">{{ item.overview }}</p>
        <a class="featured-series-detail-link" [routerLink]="['/series', item.id]">
          <i class="ti ti-info-alt"></i>
        </a>
      </div>
    </div>
  </article>
</section>
