.featured-series-container {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  border-radius: 1rem 0 0 1rem;
  box-shadow: 2px 7px 15px -2px #000000;
}

.featured-series {
  cursor: default;
  background-image: linear-gradient(to right, rgb(37, 19, 33), calc(-510px + 50vw), rgba(37, 19, 33, 0.6) 50%, rgba(37, 19, 33, 0.6) 100%);
  border-radius: 1rem 0 0 1rem;
  height: 600px;
  padding: 2rem;
  color: #fff;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.featured-series h1 {
  margin-bottom: 0.5rem;
  font-size: 3.5rem;
  width: 100%;
}

.featured-series h1 a {
  text-decoration: none;
  color: #fff;
}

.featured-series-card-info {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 0.5rem 1rem;
  margin-bottom: 0.25rem;
}

.featured-series h2 {
  margin-top: 0;
  font-size: 2rem;
  margin-bottom: 0;
}

.featured-series h2.featured-series-length {
  margin-top: 0;
  font-size: 1.75rem;
  color: #e8e8e8;
}

.card-info {
  display: flex;
  align-items: center;
  width: auto;
  flex-wrap: wrap;
  gap: 0.5rem;
  font-size: 1.1rem;
}

.card-info-votes {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 0.3rem;
  border-radius: 0.25rem;
  background-color: var(--primary-color);
  padding: 0.4rem;
}

.card-info-votes span {
  font-weight: 700;
}

.card-info-votes i {
  color: #fbe4f3;
  font-weight: 900;
}

.card-info-genre {
  border-radius: 0.25rem;
  background-color: #db51bd;
  padding: 0.4rem;
  font-weight: 700;
}

.featured-series-description {
  display: -webkit-box;
  width: 80ch;
  font-size: 1.25rem;
  font-weight: 600;
  overflow: hidden;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}

.featured-series-detail-link {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 2.5rem;
  border-radius: 50%;
  box-shadow: 2px 2px 5px -2px #000000;
  background-color: var(--primary-color);
  padding: 0.75rem;
  color: #fff;
  transition: all 0.3s ease-in-out;
  transform: scale(1);
}

.featured-series-detail-link:hover {
  color: var(--primary-color);
  background-color: #fff;
  transform: scale(1.08);
}

.featured-series-detail-link:hover {
  color: var(--primary-color);
  background-color: #fff;
  transform: scale(1.08);
}

@media(max-width: 1000px) {
  .featured-series-description {
    width: 100%;
    font-size: 1rem;
    -webkit-line-clamp: 4;
  }

  .featured-series h2, .featured-series h2.featured-series-length {
    font-size: 1.25rem;
  }
}

@media(max-width: 700px) {
  .featured-series {
    height: 350px;
  }

  .featured-series h1 {
    font-size: 2.5rem;
  }

  .featured-series-card-info {
    margin-bottom: 0;
  }

  .featured-series h2, .featured-series h2.featured-series-length {
    font-size: 1.1rem;
  }

  .featured-series-detail-link {
    font-size: 1.5rem;
  }

  .card-info-votes, .card-info-genre {
    padding: 0.2rem;
  }

  .card-info {
    font-size: 0.9rem;
  }
}
