<div class="series-container">
  <app-featured-series-carrusel [list]="popularSeries" [carruselTitle]="'Featured series'" [genreList]="genresList"></app-featured-series-carrusel>
  <app-series-carrusel [list]="actionAdventureSeries" [carruselTitle]="'Action and adventure series'"></app-series-carrusel>
  <app-series-carrusel [list]="airingTodaySeries" [carruselTitle]="'Airing today'"></app-series-carrusel>
  <app-series-carrusel [list]="similarSeries" [carruselTitle]="similarSeriesTitle"></app-series-carrusel>
  <app-featured-series-carrusel [list]="topRatedSeries" [carruselTitle]="'Top rated series'" [genreList]="genresList"></app-featured-series-carrusel>
  <app-series-carrusel [list]="comedySeries" [carruselTitle]="'Comedy series'"></app-series-carrusel>
  <app-series-carrusel [list]="recommendationsSeries" [carruselTitle]="recommendationsSeriesTitle"></app-series-carrusel>
  <app-featured-series-carrusel [list]="onTheAirSeries" [carruselTitle]="'On the air'" [genreList]="genresList"></app-featured-series-carrusel>
  <app-series-carrusel [list]="familyKidsSeries" [carruselTitle]="'Family & kids series'"></app-series-carrusel>
  <app-series-carrusel [list]="crimeDocumentarySeries" [carruselTitle]="'Crime documentary series'"></app-series-carrusel>
  <app-series-carrusel [list]="westernSeries" [carruselTitle]="'Western series'"></app-series-carrusel>
</div>
