.carrusel-title {
  margin-bottom: 0;
  margin-left: 2rem;
  color: var(--primary-color);
}

.carrusel {
  display: flex;
  height: 375px;
  gap: 0 2rem;
  padding: 0.5rem 0 1rem 2rem;
  margin: 0;
  list-style: none;
  overflow-x: auto;
  overflow-y: none;
  scroll-snap-type: x mandatory;
}
