<section *ngIf="item">
  <div class="movie-detail-container">
    <article class="movie-detail" [style.background-image]="getImageSrc(false)">
      <div class="movie-detail-content">
        <img class="movie-detail-poster" src="{{ getImageSrc(true) }}"/>
        <div class="movie-detail-info">
          <h1>{{ item.title }}</h1>
          <header class="movie-detail-card">
            <div class="movie-detail-card-info">
              <h2>{{ item.release_date | date:'shortDate' }}</h2>
              <h2 class="movie-detail-length">{{ getMovieLength(item.runtime) }}</h2>
            </div>
            <div class="card-info">
              <div *ngIf="item.vote_average > 0">
                <app-circular-progress-bar [maxValue]="item.vote_average"></app-circular-progress-bar>
              </div>
              <div class="card-info-genre" *ngFor="let genre of item.genres">
                <span>{{ genre.name }}</span>
              </div>
            </div>
          </header>
          <p class="movie-detail-tagline">{{ item.tagline }}</p>
          <p class="movie-detail-description">{{ item.overview }}</p>
          <footer class="movie-detail-actions">
            <a class="movie-detail-play-link" href="{{ trailerUrl }}" target="_blank" *ngIf="getTrailerUrl()">
              <div class="movie-detail-play-link-icon">
                <i class="ti ti-control-play"></i>
              </div>
              <span>Play</span>
            </a>
            <a class="movie-detail-link" href="{{ item.homepage }}" target="_blank" *ngIf="item.homepage">
              <i class="ti ti-info-alt"></i>
            </a>
          </footer>
        </div>
      </div>
    </article>
  </div>
  <footer class="movie-detail-more-info" *ngIf="movieCast || movieCrew || rentWatchProviders || buyWatchProviders">
    <app-credits [credits]="movieCast" [creditsTitle]="'Cast of ' + item.title"></app-credits>
    <app-credits [credits]="movieCrew" [creditsTitle]="'Crew of ' + item.title"></app-credits>
    <app-watch-providers [watchProvidersTitle]="'Rent in'" [watchProviders]="rentWatchProviders" [link]="watchProvidersLink"></app-watch-providers>
    <app-watch-providers [watchProvidersTitle]="'Buy in'" [watchProviders]="buyWatchProviders" [link]="watchProvidersLink"></app-watch-providers>
  </footer>
</section>
