<section *ngIf="list" class="reveal">
  <h2 class="series-carrusel-title">
    {{ carruselTitle }}
  </h2>
  <div class="series-carrusel-container">
    <ul class="series-carrusel" #carrusel>
      <app-series-carrusel-item *ngFor="let item of list" [item]="item"></app-series-carrusel-item>
    </ul>
    <a class="series-carrusel-arrow series-carrusel-arrow-left" [class.hide]="hideLeftArrow" (click)="onClickLeftArrow(carrusel)">
      <i class="ti ti-angle-left"></i>
    </a>
    <a class="series-carrusel-arrow series-carrusel-arrow-right" [class.hide]="hideRightArrow" (click)="onClickRightArrow(carrusel)">
      <i class="ti ti-angle-right"></i>
    </a>
  </div>
</section>
