.featured-series-item {
  cursor: pointer;
  box-shadow: 2px 7px 15px -2px #000000;
  border-radius: 1rem;
  position: relative;
  max-width: 500px;
  height: 100%;
  max-height: 350px;
  width: 250px;
  transition: all 0.3s ease-in-out;
  transition-delay: 0.1s;
  overflow: hidden;
  scroll-snap-align: center;
}

.featured-series-item-container {
  display: block;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.featured-series-item.can-hover:hover {
  width: 500px;
}

.featured-series-item-card {
  width: calc(100% - 20px);
  border-radius: 0 0 1rem 1rem;
  color: #fff;
  padding: 10px;
  background-color: rgba(220, 17, 75, 0.9);
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  transform: translateY(25px);
  transition: all 0.4s;
  transition-delay: 0.1s;
}

.featured-series-item-card h2 {
  margin: 0;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.featured-series-item-card p {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-bottom: 0;
}

.featured-series-item.can-hover:hover .featured-series-item-card {
  transform: translateY(0);
  opacity: 1;
}

.featured-series-item-card-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  gap: 0.25rem 0.5rem;
  flex-wrap: wrap;
}

.featured-series-item-card-info h3 {
  margin: 0;
  font-weight: 600;
}

.card-info-votes {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 0.3rem;
  border-radius: 0.25rem;
  background-color: #ff511f;
  padding: 0.25rem;
}

.card-info-votes span {
  font-weight: 700;
}

.card-info-votes i {
  color: #fbe4f3;
}

.card-info-genre {
  border-radius: 0.25rem;
  background-color: #3db856;
  padding: 0.25rem;
  font-weight: 700;
}

.featured-series-item-card-b {
  border-radius: 50%;
  background-color: var(--triadic-color-2);
  color: #fff;
  padding: 0.25rem;
  margin: 0;
}

@media(max-width: 1000px) {
  .featured-series-item {
    min-width: 175px;
    max-width: 375px;
    width: 175px;
    max-height: 275px;
  }

  .featured-series-item.can-hover:hover {
    width: 375px;
  }

  .featured-series-item-card h2 {
    font-size: 20px;
  }

  .featured-series-item-card-info, .featured-series-item-card-info h3 {
    font-size: 16px;
  }

  .card-info-votes, .card-info-genre {
    padding: 0.12rem;
  }

  .featured-series-item-card p {
    font-size: 15px;
  }
}

@media(max-width: 600px) {
  .featured-series-item {
    width: 175px;
    max-height: 225px;
    overflow: visible;
  }

  .featured-series-item.can-hover:hover {
    width: 300px;
  }

  .featured-series-item-card h2 {
    font-size: 16px;
  }

  .featured-series-item-card-info {
    gap: 0.25rem;
  }

  .featured-series-item-card-info, .featured-series-item-card-info h3 {
    font-size: 14px;
  }

  .featured-series-item-card {
    width: calc(100% - 12px);
    opacity: 1;
    transform: translateY(25px);
    background-color: rgba(220, 17, 75, 1);
    padding: 6px;
  }

  .featured-series-item-container {
    border-radius: 1rem 1rem 0 0;
  }

  .featured-series-item.can-hover:hover .featured-series-item-card {
    transform: translateY(25px);
  }

  .featured-series-item-card p {
    display: none;
  }
}

@media(max-width: 400px) {
  .featured-series-item {
    min-width: 150px;
    width: 150px;
  }
}
