<li class="carrusel-item" *ngIf="item" (mouseover)="onMouseOver()" (mouseleave)="onMouseLeave()">
  <img src="{{getImageSrc()}}" class="carrusel-item-image" />
  <a class="carrusel-item-container" [class.show]="hovered" [class.hide]="hide">
    <div class="carrusel-item-card">
      <h3 class="carrusel-item-title">{{ item.title }}</h3>
      <div class="carrusel-item-card-a">
        <h4>{{ item.release_date | date:'yyyy' }}</h4>
      </div>
      <p>{{ item.overview }}</p>
    </div>
  </a>
</li>
