.featured-carrusel-title {
  margin-bottom: 0;
  margin-left: 2rem;
  color: var(--primary-color);
}

.featured-carrusel {
  position: relative;
  display: flex;
  height: 360px;
  gap: 0 2rem;
  padding: 1rem 0.75rem;
  margin: 0;
  list-style: none;
  overflow: hidden hidden;
  scroll-snap-type: x proximity;
}

.featured-carrusel-container {
  position: relative;
  display: flex;
  align-items: center;
}

.featured-carrusel-arrow {
  position: absolute;
  margin: 0;
  cursor: pointer;
  color: #fff;
  background: rgba(0, 0, 0, 0.7);
  padding: 4rem 1rem;
  transition: all 0.3s ease-in-out;
  z-index: 1;
  opacity: 1;
}

.featured-carrusel-arrow.hide {
  opacity: 0;
}

.featured-carrusel-arrow i {
  font-weight: 200;
  font-size: 1.5rem;
  transition: all 0.3s ease-in-out;
  padding: 0;
}

.featured-carrusel-arrow-left {
  left: 0;
  border-radius: 1rem 0 0 1rem;
}

.featured-carrusel-arrow-right {
  right: 0.5rem;
  border-radius: 0 1rem 1rem 0;
}

.featured-carrusel-arrow:hover i {
  font-weight: 900;
  font-size: 2rem;
}
