<li class="series-carrusel-item" *ngIf="item">
  <a class="series-carrusel-item-link" [style.background-image]="activeBackgroundStyle" [routerLink]="['/series', item.id]">
    <article class="series-carrusel-item-container">
      <div class="series-carrusel-item-card">
        <h3 class="series-carrusel-item-title">{{ item.name }}</h3>
        <header class="series-carrusel-item-card-info">
          <h4>{{ item.first_air_date | date:'yyyy' }}</h4>
          <div class="card-info-votes" *ngIf="item.vote_average > 0">
            <i class="ti ti-heart"></i>
            <span>{{ item.vote_average | number:'1.1-1' }}</span>
          </div>
        </header>
        <p>{{ item.overview }}</p>
      </div>
    </article>
  </a>
</li>
