/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@import "@icon/themify-icons/themify-icons.css";

:root {
  --primary-color: #dc114b;
  --complementary-color: #11dca2;
  --analogous-color-1: #dc11b0;
  --analogous-color-2: #dc3d11;
  --triadic-color-1: #dca211;
  --triadic-color-2: #4bdc11;
}

body {
  font-family: Roboto, Sans-Serif;
  scroll-behavior: smooth;
  margin: 0;
}

.ocu {
  display: none !important;
}

.reveal {
  animation: reveal linear both;
  animation-timeline: view();
  animation-range: entry 25% cover 30%;
}

@keyframes reveal {
  from {
    opacity: 0;
    translate: 0 100px;
  }

  to {
    opacity: 1;
    translate: 0 0;
  }
}
