<section *ngIf="list">
  <header class="featured-movies-carrusel-header">
    <h2 class="featured-movies-carrusel-title">{{ carruselTitle }}</h2>
    <a *ngIf="seeMoreLink" class="featured-movies-carrusel-seemore" [routerLink]="[seeMoreLink]">
      <span>See more</span>
      <i class="ti ti-angle-right"></i>
    </a>
  </header>
  <div class="featured-movies-carrusel-container">
    <ul class="featured-movies-carrusel" #carrusel>
      <app-featured-movies-item *ngFor="let item of list" [item]="item" [canHover]="canHoverItem" [genreList]="genreList"></app-featured-movies-item>
    </ul>
    <a class="featured-movies-carrusel-arrow featured-movies-carrusel-arrow-left" [class.hide]="hideLeftArrow" (click)="onClickLeftArrow(carrusel)">
      <i class="ti ti-angle-left"></i>
    </a>
    <a class="featured-movies-carrusel-arrow featured-movies-carrusel-arrow-right" [class.hide]="hideRightArrow" (click)="onClickRightArrow(carrusel)">
      <i class="ti ti-angle-right"></i>
    </a>
  </div>
</section>
