<li *ngIf="item" class="featured-item" [class.can-hover]="canHover">
  <a class="featured-item-container" (mouseover)="onMouseOver()" (mouseleave)="onMouseLeave()" [style.background-image]="activeBackgroundStyle"
    [routerLink]="['/movies', item.id]">
    <div class="featured-item-card">
      <h2>{{ item.title }}</h2>
      <div class="featured-item-card-info">
        <h3>{{ item.release_date | date:'yyyy' }}</h3>
        <div class="card-info-votes" *ngIf="item.vote_average > 0">
          <i class="ti ti-heart"></i>
          <span>{{ item.vote_average | number:'1.1-1' }}</span>
        </div>
        <div class="card-info-genre" *ngFor="let genreId of item.genre_ids">
          <span>{{ getGenreName(genreId) }}</span>
        </div>
      </div>
      <p>{{ item.overview }}</p>
    </div>
  </a>
</li>
