<section class="home-container">
  <app-featured-movies-carrusel [list]="popularMovies" [carruselTitle]="'Currently trending movies'" [seeMoreLink]="'/movies'" [genreList]="moviesGenreList"></app-featured-movies-carrusel>
  <app-series-carrusel [list]="mysterySeries" [carruselTitle]="'Mystery series'"></app-series-carrusel>
  <app-movies-carrusel [list]="dramaMovies" [carruselTitle]="'Drama movies'"></app-movies-carrusel>
  <app-featured-movie [item]="featuredDramaMovie"></app-featured-movie>
  <app-movies-carrusel [list]="similarMovies" [carruselTitle]="similarMoviesTitle"></app-movies-carrusel>
  <app-featured-series-carrusel [list]="popularSeries" [carruselTitle]="'Currently trending series'" [seeMoreLink]="'/series'" [genreList]="seriesGenreList"></app-featured-series-carrusel>
  <app-series-carrusel [list]="animationSeries" [carruselTitle]="'Animation series'"></app-series-carrusel>
  <app-featured-series [item]="featuredPopularSeries"></app-featured-series>
  <app-movies-carrusel [list]="recommendationMovies" [carruselTitle]="recommendationMoviesTitle"></app-movies-carrusel>
  <app-series-carrusel [list]="similarSeries" [carruselTitle]="similarSeriesTitle"></app-series-carrusel>
  <app-featured-movies-carrusel [list]="thrillerMovies" [carruselTitle]="'Movies that\'ll keep you awake'" [seeMoreLink]="'/movies'" [genreList]="moviesGenreList"></app-featured-movies-carrusel>
  <div>
    <div class="explore-more">
      <p>Still don't find what you're looking for?</p>
      <a [routerLink]="'/explore'">Explore more filters</a>
    </div>
  </div>
</section>
