.home-container {
  padding: 2rem 0 2rem 2rem;
}

.explore-more {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.explore-more p {
  cursor: default;
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.explore-more a {
  font-size: 1.2rem;
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 700;
  transition: all 0.3s ease-in-out;
}

.explore-more a:hover {
  color: #94042d;
}

@media(prefers-color-scheme: dark) {
  .explore-more p {
    color: #f2f2f2;
  }
}

@media(max-width: 600px) {
  .home-container {
    padding: 2rem 0 1rem 1rem;
  }
}
